body
   {
      margin: 0;
      font-family:sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
.cartitem
  {
     padding: 5%;
     margin: 1%;
     font-weight: bold;
     opacity:0.9;
     color:grey;
     border: grey solid 2px;
  }
.cartitem div{
    height: 100%;}
.cartitem p 
 {
    font-size: smaller;
    
 }
        
.cartitem button 
  {
  border: none;
  color: white;
  text-align: center;
  padding: 5% 9%;
  border-radius: 6px;
  margin:1%;
  
 }
img{
    
    width: 100%;
    max-width:130px;
    height: auto;
  }
button img{
    
    width: 100%;
    max-width:20px;
    height: auto;
    
  }
  



